*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
}

/*header*/

.banner{
    background-color: white;
}
#logo{
    width: 200px;
}

/*main-navigator*/

.navigator{
    margin: 40px 225px -35px 225px;
    padding: 10px;
}

#button-task{
    background-color: #14aaf5;
    margin-left: 50px;
    border-radius: 5px;
    padding: 2px;


}
#button-section{
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;

}

 /*content-box*/


.content{
    margin: 40px 225px 0 225px;

}

.content summary{
    margin-left: 60px;
}



/*utility class*/

#is-utility{
    background-color: white;
    width: 70%;
    border-radius: 5px;

}